<section class="index-page">
  <img class="avatar" src="{{image}}" alt="You have been succesfully logged in!">
  <h1>
    Hello {{username}}!
  </h1>
  <a class="button" href="/auth/auth.logout">Log out</a>
</section>